/* body {
  text-align: center;
}

h1 {
  text-decoration: underline;
}

.tip {
  background-color: lightsalmon;
  padding: 5px;
  border-radius: 5px;
  line-height: 2.5;
}

.highlight {
  background-color: lightpink;
  padding: 5px;
  border-radius: 5px;
  line-height: 2.5;
}

a {
  color: black;
}

p {
  line-height: 2.5;
}

.code {
  background-color: lightblue;
  display: inline;
  padding: 4px;
  border-radius: 5px;
}

.column {
  padding: 0 2.5% 0 2.5%;
  float: left;
  width: 45%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} */
